body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #233540;
/*rgb(200, 216, 217);*/
  min-height: 1000px;
}

@media only screen and (max-width: 600px) {
 



}



.header{
background: linear-gradient(to bottom, #FF0909 0%, #F40D5A 100%);

}

.WhiteText{
	color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
	font-family: myFont;
	src:"/Images/Avenir/AvenirNext-DemiBoldItalic.ttf";
}



.test{
   width: 100%;
   height: 200px;
   background-color: red;
}

.th {
	align-items: center;
	align:center;
}
.w100 {
  height: 200px;
  width: 100%;
}

.barrier{
	
}

.Capture {
	height: 200px;
	width: auto;
	margin-top: 200px;
}

.MainContainer {
	display: flex;
	flex-direction: column;

}


.emojis{
	text-align: center;

	outline-color: coral;
}

.LegendContainer{
	margin-top: 100px;
	width: auto;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.subLegends {
	display: flex;
	
}
	
.Legend {
	width: 100%;
	display: flex;
	font-size: 20px;
	flex-direction: row;
	justify-content: space-evenly;

}

.topEmoji{

}

table.table-bordered{
	margin-bottom: 0px;
    border:1px solid black;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.wrap-table-scroll-y{
	display: block;
	background-color: red;
	width: 80%;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #B1B1B1;

}

.scrollingText {
      background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);


}

@media (max-width: 1000px){
	.wrap-table-scroll-y {
		width: 100%;
	}
}

.ListContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 25px;
}


.LoginRegisterButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.Rank {
	text-align: center;
}

.tableItem{
	text-align: center;
}

.myButtonLogin {
	min-width: 90px;
	margin-left: 10px;
	margin-right: 10px;
	
}

.myTable{

}

.myButtonRegister {
	min-width: 90px;
	margin-left: 10px;
	margin-right: 10px;
}


.FormsContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.myImage {
	width: 300px;
	margin-bottom: 0px;
}

.Caption{
	  font: italic bold 12px/30px Georgia, serif;
	font-family: Arial;
	margin-bottom: 30px;
	font-size: 20px;
	margin-top: -10px;
	color:white;
}

.FrontBannerContainer{
	display: flex;
	/* background-color: rgb(177, 177, 177); */

	background-color: #233540;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.Delete{
	margin-top: 20px;
	display: flex;
	background-color: #233540;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
}

.redText{
	color: red;
}

.myForms{
	width: 50%;
	margin-bottom: 100px;
}

.logchallButtonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.currentPlayer{
	background-color: rgb(239, 101, 101);
}

.currentPlayerRank{
	background-color: rgb(255, 90, 90);
}

.dummy{
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: -50px;
}

.ChallengeButton{
	margin-right: 20px;
}

.challengeErrorContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.alertContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.barTest{
	background-color: blue;
}

.errorMessages{
	color:red;
}

.deleteButton{

}

.myAlert {
	margin-top: 50px;
	margin-bottom: 0px;
}


